{:deps {medley {:git/url "https://github.com/borkdude/babashka.curl"
                :sha "53b5b9d98f2e594384f628b0deee76b53bea5062"}
        cheshire {:mvn/version "5.10.0"}
        reaver {:mvn/version "0.1.3"}
        }}
