{:source-paths ["src"]
 :dependencies [
                [binaryage/devtools "1.0.2"]
                [reagent "0.10.0"]
                [reagent-utils "0.3.3"]
                [cljs-ajax "0.8.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [com.taoensso/timbre "4.10.0"]
                [mount "0.1.16"]
                [org.clojure/core.async "1.2.603"]
                [com.wsscode.nt/async "1.0.10"]
                [org.clojars.mmb90/cljs-cache "0.1.4"]
                ;; [datascript "0.18.13"]
                [binaryage/oops "0.7.0"]
                [metosin/reitit "0.5.1"]
                [venantius/accountant "0.2.5"
                 :exclusions [org.clojure/tools.reader]]
                [pez/clerk "1.0.0"]
                ]

 :dev-http {8000 "public"}

 :nrepl {:port 8777}

 :builds
 {
  ;; https://shadow-cljs.github.io/docs/UsersGuide.html#target-browser
  :browser {:target :browser
            :output-to "public/js/app.js"
            :asset-path "/js"
            :modules {:app {:init-fn mytrade.core/init}}
            :devtools {:preloads [shadow.remote.runtime.cljs.browser]}
            :build-hooks [(hooks.sass/watch)]
            :compiler-options {:infer-externs :auto
                               :externs ["datascript/externs.js"]} 
            }}}
